<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/CSS/MyStyle.css" />
</head>

<body>
    @await Html.PartialAsync("/Views/Shared/_Header.cshtml")
    <a asp-action="Privacy" asp-controller="Home">Privacy</a>
    <h1>The Blading Dictionary</h1>
    <p>Learn the language of rollerblading</p>
</body>
</html>